{{ define "content" }}

    <div class="font-family: Roboto-Regular, Helvetica, Arial, sans-serif; font-size: 14px; color: rgba(0, 0, 0, 0.87); padding-top: 20px; text-align: center;">Hi, {{ .Name }}, berikut informasi akun anda:</div>

    <br/>
    <div>username: <strong>{{ .Username }}</strong></div>
    <div>email: <strong>{{ .Email }}</strong></div>
    {{ if .Password }}
        <div>password: <strong>{{ .Password }}</strong></div>
    {{ end }}
    <br/>

    <div class="padding-top: 20px; font-size: 12px; line-height: 16px; color: rgb(95, 99, 104); letter-spacing: 0.3px; text-align: center;">Tetap jaga rahasia akun anda, mohon untuk jangan diberikan kepada siapapun termasuk Admin.</div>

{{ end }}
